<h3 class="pb-4 text-[20px] font-medium text-gray-800">
  <%- product.productName %>
</h3>

<div class="space-y-2">

  <% if(product.quantity){ %>
    <!-- Rating -->
    <div class="flex items-center text-sm text-yellow-500">
      <img src="/images/icons/stars.svg" alt="stars" /><span
      class="ml-1 text-gray-500"
      ><%- product.quantity %></span
      >
      <!-- now i added product quantity for rating future this would be rating -->
  <% } %>
  
  </div>
    <% if(product.description){ %>
      <p class="mt-1 text-[16px] font-light text-gray-600">
        <%- product.description %>
      </p>
    <% } %>
  
  <!-- Price -->
  <div class="flex items-baseline space-x-4">
    <span class="text-2xl font-medium text-[#181818]"
      >₹<%- product.price.sellingPrice %></span
    >
    <span class="text-lg text-gray-400 line-through"
      >₹<%= product.price.originalPrice %></span
    >
    <% if(product.price.discount){ %>
      <p class="text-sm  font-medium text-green-600">
      save ₹<%- product.price.discount %>
      </p>
    <% } %>
  </div>
  
  <!-- Savings -->
  
</div>

