<li class="flex space-x-4 rounded-xl bg-[#F2F2F2] px-4 py-3.5">
  <img src="<%- icon.iconSrc %>" alt="<%- icon.altText %>" />
  <input
    class="h-7 w-full outline-none"
    name="<%- name %>"
    type="<%- type %>"
    placeholder="<%- placeholder %>"
  />
</li>
