<% 
  const authHeading = {
    title: "Forgot Password?", 
    description: "Enter your email to receive a password reset link."
  }

  const authImage = {
    src: "/images/auth/kid-image.svg",
    alt: "kid forget password image" 
  }

 const inputFields = [
  {
    icon: {
      iconSrc: '/images/icons/user.svg',
      altText: 'email icon',
    },
    id: 'email',
    name: 'email',
    floatName: "Email",
    type: 'email',
    placeholder: 'Enter your email',
  }
]
%>

<div class="h-full items-center justify-evenly md:flex md:flex-row-reverse">
  <!-- heading block and hero image -->
  <div class="pb-16 md:pb-0">
    <!-- auth image passing -->
    <%- include("../../partials/atoms/AuthImage.ejs", {...authImage}) %>
    <!-- auth heading block -->
    <%- include("../../partials/molecules/AuthHeading.ejs", {...authHeading, classname: "md:hidden"}) %>
  </div>
  <!-- heading block and hero image ended -->

  <!-- Forget password form started -->
  <form
    class="w-96"
    id="forget-password-form"
    action="/auth/forget-password"
    method="post"
    enctype="application/x-www-form-urlencoded"
  >
    <%- include("../../partials/molecules/AuthHeading", {...authHeading}) %>
    <ul class="space-y-6">
      <% inputFields.forEach((field) => { %>
      <%- include("../../partials/atoms/InputField", {...field}) %>
      <% }) %>

      <% if(typeof error !== "undefined" && error) { %>
      <li
        id="error-box"
        class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-400"
      >
        <%- error %>
      </li>
      <% } %>

      <!-- client side error box -->
      <li
        id="client-error-box"
        class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-400 hidden"
      >
        <p id="client-error-box-p"></p>
      </li>
      
      <li class="pt-4">
        <button
          class="w-full rounded-xl bg-[#1A1A1A] py-4 text-white hover:cursor-pointer hover:bg-black"
          type="submit"
        >
          Send Reset Link
        </button>
      </li>
      
      <p class="text-center">
        Remember your password?
        <span><a class="pl-1 text-[#0F3DDE]" href="/auth/login">Sign In</a></span>
      </p>
    </ul>
  </form>
  <!-- Forget password form ended -->
</div>