<!-- Sidebar -->
<aside class="h-screen w-64 bg-gray-100 p-4">
  <a href="/admin">
    <div class="flex gap-4 px-2 py-3">
      <img src="/images/icons/logo.svg" alt="logo" />
      <p class="text-2xl font-bold">ComfiNest</p>
    </div>
  </a>
  <div class="mt-2 mb-10 h-px w-full bg-gray-500"></div>
  <ul class="space-y-2">
    <!-- menu items looping started -->
    <% adminSidebar.forEach((items) => { %>
      <li>
        <button
          class="flex w-full items-center justify-between rounded-lg px-4 py-2 hover:bg-gray-200 cursor-pointer"
          onclick="toggleDropdown('<%- items.id %>', '<%- items.toggleId %>')"
        >
          <span><%- items.name %></span>
          <span id="<%- items.toggleId %>">
            <img
              class="w-5 transition-transform"
              id="<%- items.toggleId %>"
              src="/images/icons/down_arrow.svg"
              alt="arrow"
            />
          </span>
        </button>
        <ul id="<%- items.id %>" class="mt-2 ml-6 hidden space-y-2">
          <!-- nested menu items looping started -->
          <% items.nestedItems.forEach((item) => { %>
            <li class="rounded-lg <%= item.active ? 'bg-blue-500 text-white' : '' %>">
              <a href="<%- item.href %>" 
                class="block w-full px-4 py-2 rounded-lg 
                  <%= item.active ? 'text-white' : 'text-gray-900 hover:bg-gray-200' %>">
                <%- item.name %>
              </a>
            </li>
          <% }) %>
         <!-- nested menu items looping ended -->
        </ul>
      </li>
    <% }) %>
    <!-- menu items looping ended -->
  </ul>
</aside>